<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ladyspyd">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application

        android:name="com.ladyspyd.helpers.LSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->
        <activity
            android:name="com.ladyspyd.activities.LSLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.ladyspyd.activities.LSMainActivity"
            android:theme="@style/DrawerActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.ladyspyd.activities.LSRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.ladyspyd.activities.LSForgotPasswordActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.ladyspyd.activities.LSSplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.ladyspyd.activities.LSFeedbackActivity"

            android:theme="@style/Apptheme.ActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.ladyspyd.activities.LSAboutUsActivity"
            android:theme="@style/Apptheme.ActionBar" />

        <activity
            android:name="com.ladyspyd.activities.LSContactUsActivity"
            android:theme="@style/Apptheme.ActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.ladyspyd.activities.LSFaqActivity"
            android:theme="@style/Apptheme.ActionBar" />

        <activity
            android:name="com.ladyspyd.activities.LSShippingActivity"
            android:theme="@style/Apptheme.ActionBar" />

        <activity
            android:name="com.ladyspyd.activities.LSRefundPolicyActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ladyspyd.activities.LSTrackingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ladyspyd.activities.LSUpdatePasswordActivity"
            android:theme="@style/Apptheme.ActionBar" />

        <activity

            android:name="com.ladyspyd.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ladyspyd.activities.LSMainActivity" />
        </activity>

        <activity
            android:name="com.ladyspyd.activities.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.ladyspyd.activities.FilterActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <service android:name="com.ladyspyd.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.ladyspyd.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="787e213f9343a2b550e8f4e3c92cabc2b894fc3f" />
    </application>

</manifest>