<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.india.innovates.pucho"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.india.innovates.pucho.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.india.innovates.pucho.permission.C2D_MESSAGE" />
    <application

        android:name=".PuchoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:launchMode="singleTop"
            android:name=".QuestionFeed"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".LoginActivity"
            android:theme="@style/MyTheme2">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme2"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan"
            android:name=".SignUpActivity">
        </activity>

        <activity android:name=".PuchoIntro" android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:launchMode="singleTop"
            android:name=".AnswersActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".QuestionFeed" />
        </activity>

        <activity
            android:name=".PostQuestion"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>


        <activity
            android:name=".ComposeAnswer"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".AnswersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnswersActivity" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".SearchQuestionDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchActivity" />
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>


        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".MyQuestions"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>

        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".MyQuestionsDetailAnswerActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".MyQuestions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyQuestions" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".MyQuestionComposeAnswer"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".MyQuestionsDetailAnswerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyQuestionsDetailAnswerActivity" />
        </activity>

        <activity
        android:screenOrientation="portrait"
        android:name=".WebViewActivity"
        android:label="@string/app_name"
        android:theme="@style/MyTheme2"
        android:parentActivityName=".QuestionFeed">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".QuestionFeed" />
    </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".EditActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".AnswersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnswersActivity" />
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".EditAnswerActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".AnswersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnswersActivity" />
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".fcm.SendTokenToServer"
            android:exported="false">
        </service>


        <provider
            android:name="com.india.innovates.pucho.provider.FavoriteProvider"
            android:authorities="com.india.innovates.pucho.provider"
            android:exported="true" />







        <!--Crashlytics autogenerated by frabic plugin-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8a3fa4e26608fd9e4e55fb1f8c09e363b42d4bba" />



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
