<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.indiainnovates.pucho"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.indiainnovates.pucho.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.indiainnovates.pucho.permission.C2D_MESSAGE" />
    <application

        android:name=".PuchoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- android:screenOrientation="portrait"-->
        <activity
            android:launchMode="singleTop"
            android:name=".QuestionFeed"
            android:theme="@style/MyTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan"
            android:name=".LoginActivity">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme2"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan"
            android:name=".SignUpActivity">
        </activity>


        <!--android:launchMode="singleTop"-->
        <activity
            android:launchMode="singleTop"
            android:name=".AnswersActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".QuestionFeed" />
        </activity>

        <activity
            android:name=".PostQuestion"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>


        <activity
            android:name=".ComposeAnswer"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".AnswersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnswersActivity" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".SearchQuestionDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchActivity" />
        </activity>


        <activity
            android:screenOrientation="portrait"
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>


        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".MyQuestions"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"
            android:parentActivityName=".QuestionFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionFeed" />
        </activity>

        <activity
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:name=".MyQuestionsDetailAnswerActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".MyQuestions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyQuestions" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".MyQuestionComposeAnswer"
            android:label="@string/app_name"
            android:theme="@style/MyTheme2"

            android:parentActivityName=".MyQuestionsDetailAnswerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyQuestionsDetailAnswerActivity" />
        </activity>



        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.indiainnovates.pucho.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.indiainnovates.pucho.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".RegistrationIntentService"
            android:exported="false">
        </service>


        <provider
            android:name="com.indiainnovates.pucho.provider.FavoriteProvider"
            android:authorities="com.indiainnovates.pucho.provider"
            android:exported="true" />


        <!--Crashlytics autogenerated by frabic plugin-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8a3fa4e26608fd9e4e55fb1f8c09e363b42d4bba" />
    </application>

</manifest>
